/*    Default code for XL screen devices, (min/max-width: 1440px or higher)  */

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff9eb;
	min-width: 320px;
}

#nav-bar {
	width: 100%;
	background-color: #ffbd20;
	z-index: 1;
	position: fixed;
	top: 0%;
}

#nav-list {
	display: flex;
	justify-content: space-around;
	list-style: none;
	margin: 0%;
	padding-left: 0%;
	padding-right: 0%;
	padding-top: calc(0.5em + 0.5vw);
	padding-bottom: calc(0.5em + 0.5vw);
}

.nav-title-font {
	text-decoration: none;
	font-size: calc(0.5em + 0.8vw);
	font-family: Garamond, serif;
	color: black;
	font-weight: bold;
}

#hero-banner {
	background-image: url("../images/hero-image.jpg");
	background-repeat: repeat;
	background-position: top;
	background-size: cover;
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	display: flex;
}

#header-wrapper {
	flex: 1;
	width: 30%;
	height: auto;
	max-height: inherit;
	outline: 0.1em solid black;
	background-color: rgba(255, 189, 32, 0.4);
}

#hero-text {
	width: 100%;
	height: fit-content;
	max-height: inherit;
	overflow-y: auto;
	text-align: center;
}

#hero-text h1 {
	font-weight: bolder;
	font-size: calc(1em + 4vw);
	margin: 0;
	padding-top: 1.5em;
}

#hero-text p {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: calc(0.7em + 0.4vw);
	text-align: justify;
	padding: 1em;
	font-weight: bold;
}

#img-wrapper {
	flex: 2;
	width: 70%;
	max-width: 70%;
	height: auto;
	max-height: inherit;
}

#img-wrapper img {
	width: 100%;
	height: 100%;
	max-height: inherit;
	object-fit: cover;
	outline: 0.1em solid black;
}

article {
	padding-top: 1em;
	padding-bottom: 1em;
}

.main-sections,
footer {
	padding-top: calc(2em + 3vw);
}

.h2-title-styler {
	border-bottom: 0.1em solid #d36500;
	font-family: Garamond, serif;
	font-size: calc(1em + 2.3vw);
	color: #d36500;
	margin-top: 0;
}

.h3-title-styler {
	font-family: Garamond, serif;
	color: black;
	font-size: calc(0.7em + 1vw);
	font-weight: bold;
}

#skills ul {
	margin-bottom: 0;
}

.page-width {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.main-sections .default-font {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: calc(0.5em + 0.6vw);
}

.link-styler {
	color: #b06d90;
}

footer {
	padding-bottom: 1em;
}

/*    Code for standard to slightly large screen devices (min/max-width: 1024px-1440px)  */

@media only screen and (max-width: 1439px) {
	.nav-title-font {
		font-size: calc(0.6em + 0.8vw);
	}

	#header-wrapper {
		width: 30%;
	}

	#hero-text h1 {
		font-weight: bolder;
		font-size: calc(1.5em + 4vw);
		padding-top: 2em;
	}

	#img-wrapper {
		width: 70%;
		max-width: 70%;
	}
}

/*    Code for medium screen devices, particularly tablets, (min/max-width: 768px-1023px)  */

@media only screen and (max-width: 1023px) {
	.nav-title-font {
		font-size: calc(0.7em + 0.8vw);
	}

	#header-wrapper {
		width: 40%;
	}

	#hero-text h1 {
		font-size: calc(1.5em + 4vw);
		padding-top: 2.5em;
	}

	#img-wrapper {
		width: 60%;
		max-width: 60%;
	}
}

/*    Code for small to large mobile screen devices (max-width: 767px)  */

@media only screen and (max-width: 767px) {
	#nav-bar {
		position: static;
	}

	#nav-list {
		padding-top: calc(0.7em + 0.7vw);
		padding-bottom: calc(0.6em + 0.7vw);
	}

	.nav-title-font {
		font-size: calc(0.7em + 1.2vw);
	}

	#hero-banner {
		flex-direction: column-reverse;
	}

	#header-wrapper {
		width: 100%;
		height: 100%;
		max-height: 100%;
		outline: none;
	}

	#hero-text h1 {
		font-size: calc(1.5em + 4vw);
		padding-top: 1.3em;
	}

	#img-wrapper {
		width: 100%;
		max-width: 100%;
		height: 42%;
		max-height: 42%;
	}

	.h2-title-styler {
		font-size: calc(1.2em + 2.8vw);
	}

	.h3-title-styler {
		font-size: calc(0.9em + 1.2vw);
	}

	.main-sections .default-font {
		font-size: calc(0.6em + 0.7vw);
	}
}
