@media only screen and (min-width: 1001px) {
	body,
	html {
		height: 100%;
		margin: 0;
		padding: 0;
	}

	body {
		background-color: rgb(240, 232, 222);
	}

	#nav-bar {
		width: 100%;
		background-color: #ffbd20;
		z-index: 1;
		position: fixed;
		top: 0%;
	}

	#nav-list {
		display: flex;
		justify-content: space-around;
		list-style: none;
		margin: 0%;
		padding-top: 1%;
		padding-bottom: 1%;
	}

	.nav-title-font {
		text-decoration: none;
		font-size: calc(0.5em + 0.8vw);
		font-family: Garamond, serif;
		color: black;
		font-weight: bold;
	}

	#hero-banner {
		background-image: url("../images/hero-image.jpg");
		/* margin-top: -0.1em; */
		background-repeat: repeat;
		background-position: top;
		background-size: cover;
		width: 100%;
		height: auto;
		max-height: 100vh;
		display: flex;
		/* position: relative; */
	}

	#header-wrapper {
		background-color: rgba(0, 0, 0, 0.2);
		flex: 1;
		width: 30%;
		height: auto;
		max-height: inherit;
	}

	/* #hero-banner img {
		max-height: 100vh;
		object-fit: cover;
		width: 70%;
		position: relative;
		left: 30%;
	}

	header {
		background-color: rgba(0, 0, 0, 0.2);
		text-align: center;
		text-justify: auto;
		position: absolute;
		width: 30%;
		left: 0;
		top: 0;
		bottom: 0;
	} */

	#img-wrapper {
		flex: 2;
		width: 70%;
		height: auto;
		max-height: inherit;
	}

	header h1 {
		font-weight: bolder;
		font-size: 5vw;
	}

	.h2-title-styler {
		background-color: #000000;
		padding-top: 5px;
		padding-bottom: 5px;
		font-family: Garamond, serif;
		color: #f3cc3c;
		padding-left: 3px;
	}

	.h3-title-styler {
		color: #7d3f20;
		font-weight: bold;
	}

	.main-section-content {
		margin-top: 3em;
	}

	.page-width {
		width: 80vw;
		min-width: auto;
		margin-left: auto;
		margin-right: auto;
	}

	#aside-section {
		background-color: #000000;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
	}

	article {
		margin-top: 100px;
	}

	.default-font {
		font-family: Arial, sans-serif;
		font-size: 12px;
	}

	.link-styler {
		color: #d19a30;
	}

	footer {
		padding-bottom: 3em;
	}
}
/* 
@media only screen and (max-width: 600px) {
	.nav-item a {
		font-size: 0.8em;
	}

	#hero-banner {
		margin-top: 3.1em;
		height: auto;
	}

	#img-container {
		background-color: navajowhite;
		width: 100%;
		position: absolute;
	}

	img {
		display: block;
		left: ;
	}

	#header-container {
		width: 100%;
		height: auto;
		position: relative;
		bottom: 50em;
	}
} */
